@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
}

@media (max-width: 1000px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

@layer base {
    body {
        @apply bg-gray-50 font-sans font-medium text-gray-500 antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-display font-semibold text-gray-800;
    }

    button {
        @apply cursor-pointer;
    }
}
